.{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.background{
	background-image:url('image/board-bunch-cooking-food-349609.jpg');
	background-size:cover;
	height: 100vh;
}
.header{
	text-align:center;
	padding-top: 250;
	color: #ff0000;
}
